<div class="container" fxFlex="100" fxLayout="column">
  <h1 fxLayoutAlign="center center" fxFlex>QuizTime</h1>

  <div fxFlex fxLayoutAlign="center center">
    Connection Status: {{ isConnected$ | async }}
  </div>

  <div
    fxFlex
    fxLayout="column"
    fxLayoutAlign="center center"
    *ngIf="!isActiveQuestion"
  >
    <img fxFlex src="/assets/images/question.jpeg" alt="Waiting for question" />
    <h3 fxFlex>Waiting for a question.......</h3>
  </div>

  <div fxflex *ngIf="isActiveQuestion">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="padding1" fxFlex="18">
        Question No:{{ question.question_num }}
      </div>
      <div class="padding1" fxFlex>{{ question.text }}</div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column">
      <div fxLayout="column" fxFlex="50">
        <div
          class="color1"
          fxLayout="row"
          fxLayoutAlign="center center"
          (click)="sendAnswer(question.ID, question.question_num, 'A')"
        >
          <div class="padding1" fxFlex="5">A:</div>
          <div class="padding1" fxFlex>{{ question.answerA }}</div>
        </div>
        <div
          class="color2"
          fxLayout="row"
          fxLayoutAlign="center center"
          (click)="sendAnswer(question.ID, question.question_num, 'B')"
        >
          <div class="padding1" fxFlex="5">B:</div>
          <div class="padding1" fxFlex>{{ question.answerB }}</div>
        </div>
      </div>

      <div fxLayout="column" fxFlex="50">
        <div
          class="color3"
          fxLayout="row"
          fxLayoutAlign="center center"
          (click)="sendAnswer(question.ID, question.question_num, 'C')"
        >
          <div class="padding1" fxFlex="5">C:</div>
          <div class="padding1" fxFlex>{{ question.answerC }}</div>
        </div>
        <div
          class="color4"
          fxLayout="row"
          fxLayoutAlign="center center"
          (click)="sendAnswer(question.ID, question.question_num, 'D')"
        >
          <div class="padding1" fxFlex="5">D:</div>
          <div class="padding1" fxFlex>{{ question.answerD }}</div>
        </div>
      </div>
    </div>
    
   <div fxLayout="row" fxFill>
      <mat-progress-bar
        class="{{ sliderColorClass(sliderValue) }}"
        mode="determinate"
        value="{{ sliderValue }}"
      ></mat-progress-bar>
    </div>


  </div>




  <div>
      <div *ngFor="let m of received">
        {{m.content}}
      </div>
  </div>


</div>
