<mat-toolbar color="primary">
  <mat-toolbar-row class="container">
    <a href="#" class="logo">
      <span class="whiteTxt">W</span><span class="blackTxt">A</span>
      <span fxHide fxShow.gt-sm>&nbsp;&nbsp;QUIZICAL</span>
    </a>

    <span fxHide fxShow.gt-sm>
      <span class="menu-spacer"></span>
      <span class="nav-links" *ngIf="isLoggedIn?.state">
        <a mat-button [routerLink]="'/game'"> Play Game </a>
        <a mat-button [routerLink]="'/quizmaster'"> Quizmaster </a>
        <a mat-button [routerLink]="'/config'">Config</a>
      </span>
      <span class="menu-spacer"></span>
      <span class="nav-access">
        <a mat-button [routerLink]="'/about'"> About </a>
        <a mat-button *ngIf="!isLoggedIn?.state" [routerLink]="'register'">
          Register
        </a>
        <a mat-button *ngIf="!isLoggedIn?.state" [routerLink]="['login']">
          Login
        </a>

        <a mat-button *ngIf="isLoggedIn?.state" [routerLink]="'logout'">
          Logout
        </a>
      </span>
    </span>
    <span *ngIf="isLoggedIn?.state">{{ isLoggedIn?.username }}</span>
    <button mat-button [matMenuTriggerFor]="menu" fxShow fxHide.gt-sm>
      Options
    </button>

    <mat-menu #account="matMenu">
      <button mat-menu-item [routerLink]="'/account/change_pw'">Change Password</button>
    </mat-menu>

    <mat-menu #menu="matMenu">
      <span *ngIf="isLoggedIn?.state">
        <button mat-menu-item [routerLink]="'/game'">Play Game</button>
        <button mat-menu-item [routerLink]="'/quizmaster'">Quizmaster</button>
        <button mat-menu-item [routerLink]="'/config'">Config</button>
        <button mat-menu-item [routerLink]="'/about'">About</button>
        <button mat-menu-item [routerLink]="'/logout'">Logout</button>
      </span>
      <span *ngIf="!isLoggedIn?.state">
        <button mat-menu-item [routerLink]="'/about'">About</button>
        <button mat-menu-item [routerLink]="'/register'">Register</button>
        <button mat-menu-item [routerLink]="['login']">Login</button>
      </span>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
