.container {
  padding: 15px;
   background-color: #eceefd;
 }

 .myLabel {
  padding: 5px;
   background-color: #b2bbff;
 }

 .but_class {
  background-color: #9dfaab;
 }

 .but_class2 {
  background-color: #f9c78a;
 }

 .but_class3 {
  background-color: #fc9d9d;
 }

 .spacer {
padding-top: 10px;

}

::ng-deep .mat-form-field-infix {
  width: fit-content !important;
  min-width: 140px !important;
}
